.body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 88px;
}

.backGround {
    background-color: rgb(220, 220, 247);
    text-align: center;
}

.page-title {
    font-family: Roboto;
    @include font(#FFFFFF, 900, 64px, 1.36, 0.06em);
    text-transform: uppercase;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.page-title.isHidden {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(142, 142, 235);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    min-height: 80px;
    width: 100%;
}

.header-nav {
    @include font(white, 400, 18px, 1.17, 0.02em);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-img {
    display: block;
    height: 80px;
}

.site-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-nav-item:not(:last-child) {
    margin-right: 30px;
}

.form__label {
    cursor: pointer;

    @include font(white, 700, 18px, 1.88, 0.06em);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: #2a2191;
    }

    padding-top: 22px;
    padding-bottom: 22px;

    .radio-input:checked + & {
        color: #2a2191;
    }
}

.homeBtn {
    margin-left: 300px;
}

.watchedbtn {
    margin-left: 100px;
}

.hellbtn {
    margin-left: 20px;
}

.search-form {
    @include font(black, 400, 18px, 1.17, 0.02em);
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 100px;

    // background-image: url(../images/logo.png); /* Изображение для фона*/
    // background-repeat: no-repeat; /* Не множить*/
    // background-position: left; /* Центрировать*/
    // background-size:contain; /* заполнить блок полностью */
}

.form__input {
    padding: 10px 25px 10px 25px;
    width: 300px;
    border: 2px solid rgb(142, 142, 235);
    border-radius: 5px;
    margin-right: 20px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        color: rgb(142, 142, 235);
    }

    &:hover, &:focus {
        border-color: #2a2191;
    }
}


.form__btn {
    display: block;
    text-align: center;

    max-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: rgb(79, 79, 189);
    cursor: pointer;

    @include font(white, 700, 18px, 1.88, 0.06em);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #2a2191;
    }
}

.load-more {
    display: block;
    text-align: center;
    margin-left: 20px;

    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: rgb(79, 79, 189);
    cursor: pointer;

    @include font(white, 700, 18px, 1.88, 0.06em);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #2a2191;
    }
}

.load-prev {
    display: block;
    text-align: center;
    margin-right: 20px;

    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: rgb(79, 79, 189);
    cursor: pointer;

    @include font(white, 700, 18px, 1.88, 0.06em);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2a2191;
    }
}

.load-more.displayNone {
    display: none;
}

.load-prev.displayNone {
    display: none;
}

.gallery {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: calc( -1 * 20px);  /*-----Преобразование в отрицательное значение------*/
    margin-bottom: 5px;
}
.photo-card {
    flex-basis: calc(100% / 5 - 20px); /*----calc((100% / кол-во элементов в строке - значение марджина)----*/
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgb(229, 229, 240);
    border: 1px solid rgb(142, 142, 235);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.12), 0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0px 12px 4px 0px rgba(0, 0, 0, 0.1);
    }
}

.info {
    padding-left: 5px;
    padding-right: 5px;
    @include font(black, 400, 12px, 1.17, 0.01em);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    pointer-events: none;
}

.card {
    width: 100%;
    pointer-events: none;
}

.card-title {
    pointer-events: none;
}

.movieTitle {
    text-align: start;
    @include font(black, 700, 14px, 1.17, 0.06em);
    margin-left: 10px;
    margin-bottom: 0;
    pointer-events: none;
}

.info-item {
    padding-left: 5px;
    @include font(rgb(226, 133, 10), 400, 11px, 1.17, 0.01em);
    display: flex;
    pointer-events: none;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    @include font(black, 700, 20px, 1.88, 0.06em);
}

.movieId {
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.posterId {
    
}

.cardId {
    max-width: 300px;
}

.movieCardId {
    margin-left: 30px;
}

.movieIdTitle {
    text-align: start;
    @include font(black, 700, 20px, 1.17, 0.06em);
    margin-bottom: 30px;
}

.infoId {
    margin-bottom: 30px;
}

.infoId-String {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.infoId-item {
    @include font(black, 400, 12px, 1.17, 0.06em);
    margin-bottom: 5px;
    margin-right: 20px;
    width: 100px;
    text-align: start;
}

.infoId-span {
    @include font(rgb(230, 129, 14), 400, 12px, 1.17, 0.06em);
    margin-bottom: 5px;
}

.infoId-title {
    text-align: start;
    @include font(black, 600, 14px, 1.17, 0.06em);
    margin-bottom: 20px;
    margin-top: 20px;
}

.infoId-text {
    text-align: start;
    @include font(black, 400, 12px, 1.17, 0.06em);
}

.movieModal {
    margin-bottom: 20px;
}

.movieCardBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieWatchedBtn {
    display: block;
    text-align: center;
    margin-right: 20px;
    
    max-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: rgb(79, 79, 189);
    cursor: pointer;
    
    @include font(white, 700, 12px, 1.88, 0.06em);
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: #2a2191;
    }
}

.movieHellBtn {
    display: block;
    text-align: center;
    margin-right: 20px;

    max-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: rgb(79, 79, 189);
    cursor: pointer;

    @include font(white, 700, 12px, 1.88, 0.06em);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2a2191;
    }
}

/* --------------------OVERLAY---------------------- */
.backdrop {
    /*overlay модального окна*/
    position: fixed;
    left: 0;
    top: 0;
    z-index: 19;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 3vw;
    padding-right: 3vw;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --СКРЫВАЕТ МОДАЛЬНОЕ ОКНО И OVERLAY, В НЕ АКТИВНОМ СОСТОЯНИИ-- */
.backdrop.is-hidden {
    /*Скрывает модальное окно*/
    opacity: 0;
    pointer-events: none;
    /*позволяет производить действия через слой модального окна*/
    visibility: hidden;

    & .modal {
        transform: scale(0.5);
    }
}

/* -------------------- Модальное окно--------------------- */
.modal {
    /*модальное окно*/
    position: relative;
    /*left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);*/
    /*Позиционирование модального окна по центру, относительно backdrop*/
    z-index: 20;
    transform: scale(1);

    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px #00000033,0px 1px 1px 0px #00000024,0px 1px 3px 0px #0000001F;
    background-color: rgb(229, 229, 240);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 40px;

    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

        max-width: 800px;
        min-height: 550px;
}

.modal__button {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 2;

    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-style: solid;
    justify-content: center;
    cursor: pointer;
}

.modal__icon-btn {
    width: 18px;
    height: 18px;
    fill: black;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__button:hover &,
    .modal__button:focus & {
        fill: rgb(79, 79, 189);
    }
}