<header class="header">
    <!--Навигация-->
    <nav class="header-nav">
      <!--Логотип-->
      <img class="header-img" src="../src/images/logo.png" alt="logo">
      <form class="search-form" id="search-form">
        <input class="form__input" type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
        <button class="form__btn" type="submit">Search</button>
      </form>
    </nav>
</header>

<main>
  <ul class="gallery">
    <!-- Карточки изображений -->
  </ul>
  <div class="pagination">
    <button type="button" class="load-prev displayNone"> < Previos</button>
    <span class="page"> 1 </span>
    <button type="button" class="load-more displayNone">Next > </button>
  </div>
  

</main>

<!----------------------- Модальное окно--------------------- -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button data-modal-close type="button" class="modal__button">
      <svg class="modal__icon-btn">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="movieModal"> </div>

  </div>
</div>




